html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  overflow: hidden !important;
}

body.hidden * {
  display: none;
}

header {
  position: relative;
  height: 5.5rem;
  line-height: 5.5rem;
  background: url(images/header.png) repeat-x;
  margin: 0;
  padding: 0 0 0 2.6rem;
}

header h1 {
  margin: 0;
  padding: 0;
  line-height: 5.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 2.4rem;
  color: #fff;
}

/* View */
.view {
  position: absolute;
  top: 5.5rem;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.view > h2 { /* list separators */
  margin: 0;
  padding: 0 0 0 10px;
  height: 40px;
  line-height: 40px;
  font-size: 0.85em;
  color: #333;
  border-bottom: 2px solid #c3c9cb;
  background: url("images/diagonal-pattern.png") repeat scroll 0 0 #F1F1ED;
}

/* View - Slide Horizontal Transition */
/* XXX hack: the width is adjusted (0-100%) with a delayed transition in order
 *           to hide the horizontal scrollbar on the device (at least, when the
 *           transition is over).
 * This is just a workaround: the platform bug should be fixed later.  */
.view {
  -moz-transition: -moz-transform 0.5s ease, width 0s linear 0.5s;
  -moz-transform: translateX(100%);
  width: 0;
}

#root {
  -moz-transform: translateX(-100%);
}

#root:target,
.view:target {
  -moz-transition: -moz-transform 0.5s ease, width 0s linear 0s;
  -moz-transform: none;
  width: 100%;
}

body.hidden #root {
  -moz-transform: none;
  -moz-transition: none;
}

/* Table View */
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

ul li { 
  position: relative;
  height: 4.5rem;
  border-bottom: 1px solid #DADADB;
}

ul li:active {
  background-color: rgba(0, 0, 0, .07);
  text-shadow: #999 0 -1px 0;
  color: #222;
}

ul li > a {
  display: block;
  /* XXX height/line-height must be adjusted it the container height changes */
  height:      4.5rem; /* -moz-calc(100% - 40px); */
  line-height: 4.5rem; /* -moz-calc(100% - 40px); */
  text-decoration: none;
  outline: 0;
  color: #333;
  font-size: 1.7rem;
  padding: 0 2.5rem;
}

ul li > a, ul li > span, ul li > small { /* text ellipsis */
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: -moz-calc(100% - 12rem);
}

ul li > a span {
  padding-left: 4rem;
}

ul li > small {
  position: absolute;
  left: 2rem;
  top: 50%;
  font-size: 0.65rem;
  color: #888;
}

/* fake input boxes for checkboxes & radio buttons */
.view label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.view label > input {
  display: none;
}

.view label > span {
  position: absolute;
  top: -moz-calc(50% - 2.25rem);
  right: 20px;
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  border: none;
}

.view label > input[type=radio] + span {
  background: url(images/radio-off.png) no-repeat scroll center center;
}

.view label > input[type=radio]:checked + span {
  background: url(images/radio-on.png) no-repeat scroll center center;
}

.view label > input[type=checkbox] + span {
  width: 4.5rem;
  height: 4.5rem;
  -moz-border-top-colors: #c3c9cb #c3c9cb #fff #fff;
  -moz-border-right-colors: #c3c9cb #c3c9cb #fff #fff;
  -moz-border-bottom-colors: #c3c9cb #c3c9cb #fff #fff;
  -moz-border-left-colors: #c3c9cb #c3c9cb #fff #fff;
  background: -moz-linear-gradient(#eaeae4, #ffffff);
}

.view label > input[type=checkbox]:checked + span {
  background: url(images/checked.png) no-repeat scroll center center,
    -moz-linear-gradient(#ffffff, #eaeae4);
}

/* brightness level */
li#brightness:active {
  background-color: #f5f5f5;
  text-shadow: none;
  color: #555;
}

li#brightness a {
  max-width: -moz-calc(60% - 50px);
}

li#brightness progress {
  width: 40%;
  height: 40%;
  position: absolute;
  right: 20px;
  top: 30%;
}

/* icons */
[data-l10n-id=wifi] {
  background: url(images/icons.png) 0 -28px no-repeat;
}

/* wifi icons */
/*#wifi-networks span {
  -moz-border-top-colors: transparent;
  -moz-border-right-colors: transparent;
  -moz-border-bottom-colors: transparent;
  -moz-border-left-colors: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

#wifi-networks .wifi-signal0 {
  background-image: url(images/wifi-0.png);
}
#wifi-networks .wifi-signal1 {
  background-image: url(images/wifi-1.png);
}
#wifi-networks .wifi-signal2 {
  background-image: url(images/wifi-2.png);
}
#wifi-networks .wifi-signal3 {
  background-image: url(images/wifi-3.png);
}
#wifi-networks .wifi-signal4 {
  background-image: url(images/wifi-4.png);
}

#wifi-networks .wifi-secure {
  background-image: url(images/wifi-lock.png);
}

#wifi-networks .wifi-search {
  background-image: url(images/wifi-scan.png);
}*/



